.new{

    background-color: rgb(246, 36, 4)
}

h1{
    text-decoration: underline;
}

#nyc{
    color: blue;
    display: none;
    visibility: hidden;

}


    #mumbai{
        font-weight: bold;
        color: green;
        border: 6px solid black;
    }

    #australia{
        margin: 100px;
        block-size: 50px;
    }